@media only screen and (min-width: 64rem) {

    /* DISCOVER PAGE */
#areas-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 3rem;
    margin-top: 0rem;
}

#areas-container div{
    grid-template-areas: 
    "photograph"
    "name"
    "description"
    "location"
    "button";
}

#areas-container div figure {
    justify-self: center;
    align-self: center;
    height: 225px;
}

#areas-container div h2 {
    font-size: 2rem;
}

}



