* {
    box-sizing: border-box;
}

/********Header*********/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: black;
}

/**********Hamburger Navigation*********/
.hamburger {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";

}

.hamburger.show::before {
    content: "\00D7";
}

/*** NAVIGATION *****/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: orange;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: green;
}

h1 {
    margin-left: 10px;
}

/*main*/
/*Main*/
main {
    border-style: solid;
    border-color: green;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

h2 {
    text-align: center;
    background-color: blue;

}

section {
    border-style: solid;
    border-color: red;

}

.student-photo {
    display: grid;
    justify-content: center;
}